/* day la file khai bao cac css ap dung cho trang trong thu muc d02_css */

.slogan{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color: darksalmon;
    font-style: italic;
    text-shadow: 2px 2px 2px gray;
    padding-left: 1.2rem;
}

#logo{
    width: 130px;
    height: auto;
}

nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}

footer{
    text-align: center;
    background-color: antiquewhite;
    padding-top: 1.2rem;
    padding-bottom: 1.02rem;
}